body {
    font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
}

.post .post-header {
    border-bottom: 2px solid #cacaca;
    /*text-align: left;*/
}

.post .post-header .post-title {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2em;
    /*text-align: left;*/

}

.post .post-content h2 {
    border: none !important;
}

.post .post-content p {
    font-family: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
    text-align: justify;
}

.highlight {
    line-height: 1.2em;
}

.post .post-content .chroma {
    color: #A9B7C6;
    background-color: #2B2B2B;
}

.post .post-content .highlight > .chroma {
    border: none !important;
}

.post .post-content .highlight > .chroma .lnt {
    color: #606366;
}

.post .post-content code {
    background: #2B2B2B;
    color: #A9B7C6;
}

.post .post-content code, .post .post-content pre {
    font-size: 0.9em;
}


.post .post-content p code, .post .post-content p pre {
    font-size: 0.8em;
}
