body {
    font-family: 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
.header .site-navbar .menu {
  /* font-family: inherit; */
}

.header .site-description {
    float: left;
}

.post .post-header {
    border-bottom: 1px solid #dadada;
}

.post .post-header .post-title {
    font-family:'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.post .post-content h2 {
    border: none !important;
}

.post .post-content p {
    font-family: 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    text-align: justify;
}

.highlight {
    line-height: 1.2em;
}

.post .post-content .chroma {
    color: #A9B7C6;
    background-color: #2B2B2B;
}

.post .post-content .highlight > .chroma {
    border: none !important;
}

.post .post-content .highlight > .chroma .lnt {
    color: #606366;
}

.post .post-content .highlight > .chroma > table::after {
    color: #606366;
    font-weight: 400;
}

.post .post-content code {
    background: #2B2B2B;
    color: #A9B7C6;
}

.post .post-content code, .post .post-content pre {
    font-size: 0.85em;
}

.post .post-content p code, .post .post-content p pre {
    font-size: 0.8em;
    font-family: Consolas, monaco, monospace;
}

.post .post-footer .post-nav .next:hover, .post .post-footer .post-nav .prev:hover {
    transform: none;
}


.archive .collection-title {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    margin-bottom: 1em;
}

.archive .collection-title .archive-year {
    margin: 1em 0 0;
}

.archive .archive-post {
    padding: 0;
    border: none;
    font-size: 1em;
}

.archive .archive-post:hover {
    transform: none;
}
.archive .archive-post .archive-post-time {
  /* text-align: center; */
}

.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.author-info .author-title {
    display: none;
}

.author-info .author-box {
    padding: 1em 0;
}

.author-info .author-box .author-content {
    padding-left: 100px;
}

.author-info .author-box .author-image img {
    height: 80px;
    border: none;
    margin: 0 auto;
}

.author-info .author-box .author-content .author-name {
    margin-bottom: 0;
}

.author-info .author-box .author-content .author-desc {
    margin-top: 0;
}
