body {
  font-family: 'Georgia', sans-serif;
  line-height: 1.6;
}

.logo {
  background: #0a0a0a;
  color: #fefefe;
  padding: 0 20px;
  margin: 0;
}

.mobile-header-logo .logo {
  padding: 8px 20px;
}

.header .site-navbar .menu .menu-item:last-child {
  margin-right: 0;
}

.header .site-navbar .menu .menu-item-icon {
  margin-right: 0;
}

.header .site-description {
  display: block;
  width: 100%;
  font-style: italic;
  margin-bottom: 1em;
}

/* Single Post */
.post .post-header .post-title {
  font-family: 'Georgia', sans-serif;
  font-weight: 600;
}

.post .post-header .post-meta a {
  color: #c05b4d;
}

.post .post-header .post-meta,
.post .post-header .post-meta .post-meta__right {
  color: #8a8a8a;
  font-size: .9em;
}

.post-meta-author {
  display: flex;
}

.post-meta-author-name-wrapper {
  margin-left: 10px;
}

.post-meta-author-name {
}

.post-meta-author a {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.post .post-header .post-meta .post-meta-author-image {
  display: inline-block;
  padding-top: 5px;
}

.post .post-header .post-meta .post-meta-author-image img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.post .post-content .highlight {
  border: 1px solid #ddd;
}

.post .post-content blockquote {
  font-style: italic;
}

/* Image Box */
.post .post-content .caption-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post .post-content .caption-wrapper img {
  display: block;
}

.post .post-content .caption-text {
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}


/* Author Avatar Box */
.author-info .author-box {
  padding: 1em 0;
}

.author-info .author-box .author-content {
  padding-left: 100px;
}


.author-info .author-box .author-image img {
  height: 80px;
  border: none;
}

.author-info .author-box .author-content .author-name {
  margin-bottom: 0;
}

.author-info .author-box .author-content .author-desc {
  margin-top: 0;
}

@media screen and (max-width: 504px) {
  .author-info .author-box .author-content {
    padding-left: 0;
  }
}

.archive .archive-post {
  font-size: 1em;
}
