/*.no-cover.main-header {*/
/*background: #002b36;*/
/*}*/

/*.no-cover .page-title,*/
/*.no-cover .page-description {*/
/*color: #ffffff;*/
/*}*/

.single .post-header {
    margin-bottom: 3.4rem;
}

.single .post-title {
    margin: 0;
}

.single .post-meta {
    margin: 0;
}

.single .post-date {
    border: medium none;
    margin: 0;
    padding: 0;
}

.post-footer .share {
    width: auto;
}

.read-more {
    font-size: 1.3rem;
    color: #9EABB3;
}
