{{ partial "header.html" . }}

{{if .Site.Params.cover}}
{{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
<header class="main-header" style="background-image: url({{.Site.Params.cover}})">
    {{ else }}
    <header class="main-header" style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
        {{ end }}
        {{else}}
        <header class="main-header no-cover">
            {{end}}
            <nav class="main-nav overlay clearfix">
                {{ if .Site.Params.logo }}
                <a class="blog-logo" href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}"
                                                                  alt="Blog Logo"/></a>
                {{end}}
                {{ if .Site.Menus.main }}
                <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
                {{else}}
                {{ if .Site.Params.RSSLink}}
                <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
                {{else}}
                <a class="menu-button icon-feed" href="{{ .RSSLink }}">&nbsp;&nbsp;Subscribe</a>
                {{end}}
                {{end}}
            </nav>
            <div class="vertical">
                <div class="main-header-content inner">
                    <h1 class="page-title">Elasticsearch Consulting</h1>
                    <h2 class="page-description">Build unique search experiences for your users.</h2>
                    <div class="page-action">
                        <a href="mailto:doquocduy@gmail.com?subject=Elasticsearch Consulting" class="button">Need any
                            help?
                            Contact Us</a>
                    </div>
                </div>
            </div>
            <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
        </header>

        <main id="content" class="content landing-content" role="main">
            <section class="services clearfix">
                <div class="consulting">
                    <h3>Consulting</h3>
                    <p>
                        With many years of experience and endless passion in building search and analytics applications
                        based on Elasticsearch, we bring unique search experiences for your products.</p>
                    <ul>
                        <li>Application architecture, design and development</li>
                        <li>Tuning Elasticsearch clusters</li>
                        <li>Monitor, management and troubleshooting</li>
                    </ul>
                </div>
                <div class="training">
                    <h3>Training</h3>
                    <p>With deep understanding of Elasticsearch stack, we also provide Elasticsearch training.</p>
                    <ul>
                        <li>Basic and advance training</li>
                        <li>Workshop, hands-on exercises</li>
                        <li>Install, configure, manage and scale</li>
                    </ul>
                </div>

                <!--<div class="page-action">-->
                <!--<a href="mailto:info@duydo.me" class="button">Need help? Contact us</a>-->
                <!--</div>-->
            </section>

            <section class="testimonials">
              <!-- <h3>What people talk?</h3> -->
                <ul>
                    <li>
                        <cite>
                            <img src="{{.Site.BaseURL}}/images/atul.jpg"/>
                            <p class="info">
                                <span class="name">Atul Signh</span>
                                <span class="title">Founder & CEO at TheShelf.com</span>
                            </p>
                        </cite>
                        <blockquote>
                            “Duy is a perfect professional! He understands the inner workings of Elasticsearch system
                            and was able to figure out our codebase and then make changes to it so that the performance
                            was improved very quickly!
                            He delivers on time and is always available and he always provides options for us to further
                            improve the system.”
                        </blockquote>

                    </li>
                    <li>
                        <cite>
                            <img src="{{.Site.BaseURL}}/images/salman.jpg"/>
                            <p class="info">
                                <span class="name">Salman Jaffer</span>
                                <span class="title">Head of Data Science at Sentifi AG</span>
                            </p>
                        </cite>
                        <blockquote>
                            “Duy is a highly skill and competent technical expert. He has deep understanding of his
                            domain of expertise and relates this technical domain knowledge quickly to business
                            problems. Duy is a highly intelligent individual who can think clearly and always suggests
                            pragmatic solutions. He has high levels of standards which he readily shares with his
                            colleagues. Duy enjoys training and mentoring others and we look forward to working with him
                            in the future.”
                        </blockquote>

                    </li>
                    <li>
                        <cite>
                            <img src="{{.Site.BaseURL}}images/indu.jpg"/>
                            <p class="info">
                                <span class="name">Indukumar Vellapillil-Hari</span>
                                <span class="title">Manager at Accenture</span>
                            </p>
                        </cite>
                        <blockquote>
                            “I have found Duy to be hard working, intelligent, sincere and very motivated. He has good
                            knowledge of software development and is always willing to learn. It has been a pleasure
                            working with Duy.”
                        </blockquote>
                    </li>
                </ul>
            </section>
        </main>
        {{ partial "footer.html" . }}
