{{ if ne .Type "page"}}

<div class="post-meta">
   <span class="post-time">
      {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
    </span>


  {{ with .Params.categories -}}
  <span class="post-meta-category post-meta-more">
        {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
            <a href="{{ .Permalink }}"> {{ $name }} </a>
          {{ end -}}
        {{ end }}
      </span>
  {{- end }}

  {{ if .Site.Params.moreMeta -}}
  <span class="post-meta-more">
    {{ i18n "readingTime" .ReadingTime }}
  </span>
  {{- end }}
</div>
{{end}}
