{{/* This file show header social icons */}}

{{- range $name, $path := .Site.Params.social }}
  {{/* social icons */}}
  {{- if $path }}
    {{- $realName := slicestr $name 2 }}
    {{- $handleName := index (last 1 (split $path "/")) 0 }}
    {{- $filePath := (print "svg/" $realName ".svg") }}
    <li class="menu-item menu-item-icon">
      <a class="menu-item-link" href="{{ $path | safeURL }}" rel="me noopener"
        title="@{{$handleName}} on {{ title $realName }}" {{ if not (hasPrefix $path "mailto:") }} target="_blank"
        {{ end }}>
        <i class="iconfont">
          {{ partial $filePath }}
        </i>
      </a>
    </li>
  {{- end }}
{{- end }}

{{/* RSS icon  */}}
{{ with .Site.GetPage "home" -}}
  {{- with .OutputFormats.Get "RSS" -}}
  <li class="menu-item menu-item-icon">
  <a href="{{ .Permalink }}" rel="noopener {{ .Rel }}" type="{{ .MediaType.Type }}"
    class="menu-item-link" title="rss" target="_blank">
    <i class="iconfont">
    {{ partial "svg/rss.svg" }}
    </i>
  </a>
  </li>
  {{ end -}}
{{- end -}}
